<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SalleDeSport"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.salledesport.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EditProfileActivity" android:exported="true" />
        <activity android:name=".ProfileActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".AddMeasurementActivity" android:exported="true" />
        <activity android:name=".MeasurementListActivity" android:exported="true" />
        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MySubscriptionsActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".PaymentActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".model.PlanDetailActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Home"
            android:exported="true">

        </activity>
        <activity
            android:name=".Abonnement"
            android:exported="true">

        </activity>

        <!-- Déclaration de MainActivity (page d'accueil) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <!-- Cette activité est lancée en premier lors du démarrage de l'app -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <!-- Prise de Masse -->

        <activity android:name=".exercise.prisedemasse.ExercicesDeForceActivity" android:exported="true" />
        <activity android:name=".exercise.prisedemasse.ExercicesMusculairesActivity" android:exported="true" />
        <activity android:name=".exercise.prisedemasse.nutrition.NutritionActivityPM" android:exported="true" />
        <activity android:name=".exercise.ExerciseActivityPM" android:exported="true" />
        <activity android:name=".validation.ValidationActivityPM" android:exported="true" />
        <activity android:name=".exercise.prisedemasse.nutrition.NutritionDetailsPM" android:exported="true" />

        <!-- Perte de Poids -->

        <activity android:name=".exercise.pertedepoids.ExercicesCardioActivity" android:exported="true" />
        <activity android:name=".exercise.pertedepoids.ExercicesCircuitActivity" android:exported="true" />
        <activity android:name=".validation.ValidationActivityPP" android:exported="true" />
        <activity android:name=".exercise.ExerciseActivityPP" android:exported="true" />
        <activity android:name=".exercise.pertedepoids.nutrition.NutritionActivityPP" android:exported="true" />
        <activity android:name=".exercise.pertedepoids.nutrition.NutritionDetailsPP" android:exported="true" />

        <!-- Maintien -->

        <activity android:name=".exercise.maintien.ExercicesEtirementsActivity" android:exported="true" />
        <activity android:name=".validation.ValidationActivityM" android:exported="true" />
        <activity android:name=".exercise.ExerciseActivityM" android:exported="true" />
        <activity android:name=".exercise.maintien.ExercicesYogaActivity" android:exported="true" />
        <activity android:name=".exercise.maintien.nutrition.NutritionActivityM" android:exported="true" />
        <activity android:name=".exercise.maintien.nutrition.NutritionDetailsM" android:exported="true" />

        <!-- Fin de programme -->
        <activity android:name=".ProgramCompleteActivity" android:exported="true" />



        <!-- Déclaration d'InfoActivity (page des objectifs) -->
        <activity
            android:name=".InfoActivity"
            android:exported="true" />


    </application>

</manifest>
